<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search">

<ul id="navBar">
	<li><a href="/classroom/index.html">Home</a></li>
	<li><a href="/classroom/news.html">News</a></li>
	<li><a href="/classroom/phonics.html">Phonics</a></li>
	<li><a href="/classroom/read.html">Read Alouds</a></li>
	<li><a href="/classroom/math.html">Math</a></li>
	<li><a href="/classroom/music.html">Music</a></li>
	<li><a href="/classroom/arts.html">Arts</a></li>
	<li><a href="/classroom/sight.html">Sight Words</a></li>
	<form>
		<div class="search">
			<span class="material-symbols-outlined">search</span>
			<input type="text" class="search-input" name="search-bar" placeholder="Search">
		</div>
	</form>
</ul>