<ul id="navBar">
	<li><a href="/classroom/index.html">Home</a></li>
	<li><a href="/classroom/news.html">News</a></li>
	<li><a href="/classroom/phonics.html">Phonics</a></li>
	<li><a href="/classroom/read.html">Read Alouds</a></li>
	<li><a href="/classroom/math.html">Math</a></li>
	<li><a href="/classroom/music.html">Music</a></li>
	<li><a href="/classroom/arts.html">Arts</a></li>
	<li><a href="/classroom/sight.html">Sight Words</a></li>

	<input type="text" id="search-bar" name="search-bar" placeholder="Search Something">
</ul>