<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search">

<ul id="navBar">
	<li><a href="/classroom/index.html">Home</a></li>
	<li><a href="/classroom/news.html">News</a></li>
	<li><a href="/classroom/math.html">Math</a></li>
	<li><a href="/classroom/music.html">Music</a></li>
	<li><a href="/classroom/arts.html">Arts</a></li>

	<div class="nav-coll-container">
		<li><a class="nav-head">Language</a></li>
		<div class="nav-hidden-links">
			<li><a href="/classroom/phonics.html">Phonics</a></li>
			<li><a href="/classroom/read.html">Read Alouds</a></li>
			<li><a href="/classroom/action.html">Action Words</a></li>
		</div>
	</div>

	<div class="search-box">
		<form>
			<div class="search">
				<span class="material-symbols-outlined">search</span>
				<input type="text" class="search-input" name="search-bar" placeholder="Search">
			</div>
		</form>
		<ul class="search-results">
			<li>Search 1</li>
			<li>Search 2</li>
			<li>Search 3</li>
			<!--matching results-->
		</ul>
	</div>
</ul>