body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 60px;
}

.loading {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

/* TEXT */
h1 {
	font-size: 72px;
	color: #000;
}

h4 {
	font-size: 32px;
	color: #000;
}

p {
	font-size: 22px;
	color: #000000;
}

input {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: rgba(0, 0, 0)
}

/* LOAD */
#loader {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: opacity 0.5s, visibility 0.5s;
}

.spinner {
	border: 8px solid #f3f3f3;
	/* Light grey circle */
	border-top: 8px solid #50808E;
	/* Your theme color */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#loader > h4 {
	margin-left: 20px;
}

.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

/* NAV */
#navBar {
	display: inline-flex;
	position: absolute;

	z-index: 1000;
	width: 80vw;
	height: fit-content;

	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

	margin: 0;

	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;

	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	background-image: linear-gradient(to bottom, #50808E, #8EBCBE);

	transition: 0.3s;

	align-items: center;
	justify-content: flex-start;

	list-style-type: none;
}

/* NAV ELEMENTS */
#navBar a {
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 10px;
	margin: 10px 20px;
	transition: 0.3s;
	text-align: center;
}

#navBar a:hover,
#navBar a.active {
	background: linear-gradient(to bottom, #ff7e5f, #feb47b);
	color: #000;
}

/* COLLAPSIBLE NAV */
.nav-container {
	position: static;
	display: flex;
	flex-direction: column;
	width: max-content;
}

.nav-head {
	position: static;
	cursor: pointer;
	width: inherit;
	box-sizing: border-box;
}

.nav-hidden-links {
	position: absolute;

	top: 75px;
	
	margin-left: 0;
	padding: 0;

	box-sizing: border-box;

	background: linear-gradient(to bottom, #8EBCBE, #50808E);
	border-radius: 0 0 25px 25px;
	max-height: 0px;
	transition: max-height 0.3s ease;
	width: inherit;
	list-style: none;

	display: none;

	justify-items: left;
}


.nav-hidden-links a {
	padding: 15px;
	margin: 0;
	border-radius: 0;
	float: center;
}

/* SEARCH */
.search {
	display: flex;
	width: max-content;

	--padding: 14px;
	border-radius: 28px;

	padding: var(--padding);

	background-color: aliceblue;

	align-items: center;

	transition: box-shadow 0.25s;
}

.search:focus-within {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.search-input {
	margin-left: var(--padding);

	outline: none;
	border: none;
	background: transparent;

	flex: 1;
}

.search-input::placeholder,
search-icon {
	color: 0 0 2px rgba(0, 0, 0, 0.15);
}

.search-results {
	visibility: hidden;

	display: flex;
	flex-direction: column;
	position: fixed;
	margin-top: 10px;

	gap: 10px;
	padding: 10px;

	list-style-type: none;

	background: orange;
	border: 2px solid black;
	width: 300px;
	height: fit-content;

	align-content: center;
}

.search-results > * {
	border-bottom: 2px solid #50808E;
}

/* HEADER */
.header {
	box-sizing: border-box;
	height: fit-content;
	width: 100%;

	padding: 20px;

	background-color: aliceblue;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	text-align: center;
	justify-content: center;
}

/* GRID */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: row;
	gap: 50px;
	padding: 50px;
	justify-items: center;
	align-items: center;
}

/* BUTTON GRID */
.button-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.button-grid li {
	list-style-type: none;
}

.button-grid li a {
	display: block;
	width: 300px;
	height: 100px;
	padding: 20px;

	background-image: linear-gradient(to bottom, #50808E, #8EBCBE);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	border-radius: 50%;

	font-size: 24px;
	color: #fff;
	text-decoration: none;

	overflow: hidden;

	text-align: center;
	align-content: center;
}

.button-grid li a:hover {
	background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
	color: #000;
}