@font-face {
	font-family: "KGMissKindergarten";
	src: url("/classroom/resources/fonts/KGMissKindergarten.ttf") format("truetype");
}

body {
	overflow-y: scroll;
	font-family: KGMissKindergarten, sans-serif;
	margin: 0;
	padding: 0;
}

/* Navigation bar styles */
.navBar {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: fit-content;
	
	border-bottom: 2px solid #bbb;
	background-image: linear-gradient(to bottom, #5FE0FF, #0cdf9d);

	list-style-type: none;
	overflow: hidden;
}

.navBar li {
	float: left;
}

.navBar li a {
	display: block;
	position: relative;
	padding: 20px;

	border-right: 2px solid #bbb;
	
	text-align: center;
	justify-content: center;
	font-size: 22px;
	font-family: KGMissKindergarten, sans-serif;
	color: #fff;
	text-decoration: none;
}

.navBar li a::before {	
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	opacity: 0;
	max-height: 0;
	inset: 0;

	content: "";
	background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
	transition: all 0.3s ease;
}

.navBar li a:hover::before {
	opacity: 1;
	max-height: 100%;
}

.navBar li a:hover {
	color: #000;
}

.header {
	box-sizing: border-box;
	height: fit-content;
	width: 100%;
	padding: 20px;
	
	background-color: aliceblue;
	border-bottom: #000 2px solid;

	text-align: center;
	justify-content: center;
}

/* Header text styles */
h1 {
	font-size: 72px;
	color: #000;
}


h4 {
	font-size: 32px;
	color: #000;
}

p {
	font-size: 22px;
	color: #000000;
}


/* Grid layout for content sections */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: row;
	gap: 20px;

	justify-content: center;
	align-items: center;

	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* Button grid layout */
.button-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-flow: row;
	gap: 50px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.button-grid li {
	display: flex;
}

.button-grid li a {
	width: 250px;
	height: 100px;
	padding: 20px;

	background-color: aquamarine;
	border: 2px solid black;
	border-radius: 25px;

	text-align: center;
	justify-content: center;
	font-size: 24px;
	color: black;
	text-decoration: none;

	list-style-type: none;
	overflow: hidden;
}

.button-grid li a:hover {
	background-color: #0cdf9d;
	color: white;
}