/* @font-face {
	font-family: "KGMissKindergarten";
	src: url("/classroom/resources/fonts/KGMissKindergarten.ttf") format("truetype");
	font-display: swap;
} */

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding-top: 60px;
}

/* TEXT */
h1 {
	font-size: 72px;
	color: #000;
}

h4 {
	font-size: 32px;
	color: #000;
}

p {
	font-size: 22px;
	color: #000000;
}

input {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: rgba(0, 0, 0)
}
/* END TEXT */

/* LOAD */
#loader {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	
	transition: opacity 0.5s, visibility 0.5s;
}

.spinner {
	border: 8px solid #f3f3f3; /* Light grey circle */
	border-top: 8px solid #50808E; /* Your theme color */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#loader > h4 {
	margin-left: 20px;
}

.loader-hidden {
	opacity: 0;
	visibility: hidden;
}
/* END LOAD */

/* NAV */
#navBar {
	display: flex;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: fit-content;

	top: 0;
	margin: 0;
	padding: 0;
	
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	background-image: linear-gradient(to bottom, #50808E, #8EBCBE);

	transition: 0.3s;

	align-items: center;
	justify-content: center;

	list-style-type: none;
	overflow: hidden;
}

.collapsible-nav {
	cursor: pointer;
}

.head-nav::after {
	content: "\25BC";
}

.head-nav-active::after {
	content: "\25B2";
}

.hidden-nav-links {
	position: fixed;
	max-height: 0;
	height: fit-content;
	width: inherit;

	overflow: hidden;
	transition: max-height 0.2s ease-out;

	background-image: linear-gradient(to bottom, #8EBCBE, #50808E);
	border-radius: 0 0 25px 25px;
}

#navBar li a {
	display: block;
	position: relative;

	margin-left: 100px;

	padding: 20px;
	height: fit-content;
	width: fit-content;

	transition: 0.3s;

	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	margin: 10px 20px;
	
	text-align: center;
	justify-content: center;
	font-family: KGMissKindergarten, sans-serif;
	color: #fff;
	text-decoration: none;

	font-size: 24px;
}

#navBar li a::before {	
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;

	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	opacity: 0;
	max-height: 0;
	inset: 0;

	content: "";
	background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
	transition: all 0.3s ease;
}

#navBar li a:hover::before {
	opacity: 1;
	max-height: 100%;
}

#navBar li a:hover {
	color: #000;
}

.search {
	display: flex;
	width: max-content;

	--padding: 14px;
	border-radius: 28px;

	padding: var(--padding);

	background-color: aliceblue;

	align-items: center;

	transition: box-shadow 0.25s;
}

.search:focus-within {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.search-input {
	margin-left: var(--padding);

	outline: none;
	border: none;
	background: transparent;

	flex: 1;
}

.search-input::placeholder, search-icon {
	color: 0 0 2px rgba(0, 0, 0, 0.15);
}

.search-results {
	visibility: hidden;

	display: flex;
	flex-direction: column;
	position: fixed;
	margin-top: 10px;

	gap: 10px;
	padding: 10px;

	list-style-type: none;

	background: orange;
	border: 2px solid black;
	width: 300px;
	height: fit-content;

	align-content: center;
}

.search-results > * {
	border-bottom: 2px solid #50808E;
}
/* END NAV */

/* HEADER */
.header {
	box-sizing: border-box;
	height: fit-content;
	width: 100%;

	padding: 20px;
	
	background-color: aliceblue;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	text-align: center;
	justify-content: center;
}
/* END HEADER */

/* GRID */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: row;
	gap: 50px;
	padding: 50px;
	justify-items: center;
	align-items: center;
}
/* END GRID */

/* BUTTON GRID */
.button-grid {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.button-grid li {
    list-style-type: none;
}

.button-grid li a {
    display: block; 
    width: 300px;
    height: 100px;
    padding: 20px;
    
    background-image: linear-gradient(to bottom, #50808E, #8EBCBE);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	border-radius: 25px;

	font-size: 24px;
	color: #fff;
	text-decoration: none;

	overflow: hidden;

    text-align: center;
}

.button-grid li a:hover {
	background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
	color: #000;
}
/* END BUTTON GRID */