h4 {
	text-align: center;
}

#home::after {
	content: "\1F3E0";
	color: black;
	float: right;
	font-size: 40px;
}

#music::after {
	content: "\1F3B8\1F3B6";
	color: black;
	float: right;
	font-size: 40px;
}

#read::after {
	content: "\1F4D6";
	color: black;
	float: right;
	font-size: 40px;
}

#phonics::after {
	content: "\0041\0042\0043";
	color: black;
	float: right;
	font-size: 40px;
}

#math::after {
	content: "\1F4CA";
	color: black;
	float: right;
	font-size: 40px;
}

#news::after {
	content: "\1F4F0";
	color: black;
	float: right;
	font-size: 40px;
}

#arts::after {
	content: "\1F3A8\1F58C";
	color: black;
	float: right;
	font-size: 40px;
}