.grid {
	box-sizing: border-box;
}

.btn-phonic {
	border: none;
	outline: none;
	border-radius: 25px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	padding: 20px;
	background-image: linear-gradient(to bottom, #50808E, #8EBCBE);
	color: #fff;
	cursor: pointer;
	width: 250px;
	height: fit-content;
	font-size: 72px;
}

.btn-exit {
	position: fixed;
	border: none;
	outline: none;
	border-radius: 25px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	top: 40px;
	left: 40px;

	padding: 20px;
	background-image: linear-gradient(to bottom, #50808E, #8EBCBE);
	color: #fff;
	cursor: pointer;
	width: 100px;
	height: fit-content;
	font-size: 36px;

	float: left;
}

.overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;

	display: block;
	width: 100%;
	height: 100%;
	background-color: aliceblue;

	max-height: 0;
	transition: max-height 0.2s ease-out;
}

iframe {
	border: none;
	border-radius: 25px;
	width: 400px;
	height: 300px;
}

.big-image {
	display: block;
	margin: 20px auto;
	width: 50%;
	height: 100%;
}