.grid {
	box-sizing: border-box;
}

.btn-phonic {
	border: none;
	outline: none;
	border-radius: 25px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	padding: 20px;
	background-image: linear-gradient(to bottom, #50808E, #8EBCBE);
	color: #fff;
	cursor: pointer;
	width: 250px;
	height: fit-content;
	font-size: 72px;
}

.btn-phonic:hover {
	color: black;
	background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
}

.btn-exit {
	position: fixed;
	border: none;
	outline: none;
	border-radius: 25px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	top: 20px;
	left: 20px;

	padding: 20px;
	background-image: linear-gradient(to bottom, #50808E, #8EBCBE);
	color: #fff;
	cursor: pointer;
	width: 100px;
	height: fit-content;
	font-size: 36px;

	float: left;
}

.btn-exit:hover {
	background-image: linear-gradient(to bottom, #cc0b0b, #e66464);
}

.overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;

	display: flex;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	padding: 0 50px;

	visibility: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.p-text {
	width: 40vw;
	margin-left: 100px;
	margin-right: 50px;
}

.video-container {
	position: block;
	padding-left: 50px;

	border-left: 2px solid black;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 300px 300px;
	grid-template-areas: 
		"header header"
		"video1 video2"
		"video3 video3";
	gap: 50px 100px;
}

.video-container > :nth-child(1) {
	justify-self: center;
	grid-area: header;
}

.video-container > :nth-child(2) {
	grid-area: video1;
}

.video-container > :nth-child(3) {
	grid-area: video2;
}

.video-container > :nth-child(4) {
	justify-self: center;
	grid-area: video3;
}

.pdf-preview {
	width: 40vw;
	height: 70vh;
}

iframe {
	border: none;
	border-radius: 25px;
	width: 20vw;
	height: 20vh;
}