.grid {
	box-sizing: border-box;
}

.container {
	display: flex;
	width: fit-content;
	height: fit-content;
	flex-direction: column;
	align-items: center;
}

.collapsible {
	border: none;
	outline: none;
	border-radius: 25px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	transition: border-radius 0.2s ease-out;

	padding: 20px;
	background-image: linear-gradient(to bottom, #50808E, #8EBCBE);
	color: #fff;
	cursor: pointer;
	width: 250px;
	height: fit-content;
	font-size: 72px;
}

.collapsible-active, .collapsible:hover {
	border-radius: 25px 25px 0 0;
	background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
	color: #000;
	
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	border-bottom: none;
}

.content {
	visibility: hidden;
	box-sizing: border-box;
	height: fit-content;
	max-height: 0;
	
	padding: 20px;

	transition: max-height 0.2s ease-out 0.15s;
	border-radius: 0 0 25px 25px;
	width: 250px;
	overflow: hidden;
	background-image: linear-gradient(to bottom, #feb47b, #ff7e5f);

	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	border-top: none;
}

iframe {
	border: none;
	border-radius: 25px;
	width: 100%;
	height: 150px;
  }

.big-image {
	display: block;
	margin: 20px auto;
	width: 50%;
	height: 100%;
}