.hover-container {
	box-sizing: border-box;
	position: relative;
	height: 350px;
	width: 250px;

	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	
	border-radius: 25px;
	cursor: pointer;

	transition: 0.3s;

	overflow: hidden;
}

.hover-container:hover {
	height: 525px;
	width: 375px;
	z-index: 999;
}

.book-thumbnail {
	position: absolute;
	box-sizing: border-box;

	border-radius: inherit;
	height: 100%;
	width: 100%;

	overflow: hidden;
	visibility: visible;
	opacity: 1;
	transition: visibility 0.2s, opacity 0.2s;
}

.hover-container:hover .book-thumbnail {
	opacity: 0.3;
}

.hidden-content {
	position: absolute;
	padding: 20px;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.2s;
}

iframe {
	border: none;
	border-radius: 25px;
	width: 100%;
	height: 20vh;
}

.hover-container:hover .hidden-content {
	visibility: visible;
	opacity: 1;
}

.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;

	position: absolute;
	background: black;
	opacity: 0.3;
	display: none;
}

.hover-container:hover .overlay {
	display: block;
}