.grid {
	margin: 2%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: row;
	gap: 50px;
	justify-content: center;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.grid li {
	display: flex;
}

.grid li a {
	width: 250px;
	height: 100px;
	padding: 20px;
	font-size: 24px;

	text-align: center;
	justify-content: center;

	text-decoration: none;
	list-style-type: none;
	overflow: hidden;
	color: black;
	background-color: aquamarine;
	border: 2px solid black;
	border-radius: 10px;
}

.grid li a:hover {
	background-color: #0cdf9d;
	color: white;
}

h4 {
	text-align: center;
}