.video {
	border: 2px solid #000;
	background-color: aliceblue;
	border-radius: 25px;
	height: 200px;
	width: 250px;
	padding: 10px;
}

iframe {
	border: none;
	border-radius: 25px;
	width: 100%;
	height: 150px;
}
  