.grid-phonics {
	display: grid;
	margin-top: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-flow: row;
	gap: 20px;
}

.container {
	display: flex;
	width: fit-content;
	height: fit-content;
	flex-direction: column;
	align-items: center;
}

.collapsible {
	border: none;
	outline: none;
	border-radius: 25px;

	transition: border-radius 0.2s ease-out;

	padding: 20px;
	background-color: #eee;
	color: #444;
	cursor: pointer;
	width: 300px;
	height: fit-content;
	font-size: 72px;
}

.collapsible-active {
	border-radius: 25px 25px 0 0;
}
  
.content {
	box-sizing: border-box;
	height: fit-content;
	max-height: 0;
	
	padding: 0 20px;
	transition: max-height 0.2s ease-out 0.15s;
	border-radius: 0 0 25px 25px;
	width: 300px;
	overflow: hidden;
	background-color: #f1f1f1;
}

iframe {
	border: none;
	border-radius: 25px;
	width: 100%;
	height: 150px;
  }