.hover-container {
	box-sizing: border-box;
	position: relative;
	height: 550px;
	width: 250px;

	border: 4px solid #000;
	border-radius: 25px;
	cursor: pointer;

	overflow: hidden;
}

.book-thumbnail {
	position: absolute;
	box-sizing: border-box;

	border-radius: inherit;
	height: 100%;
	width: 100%;

	overflow: hidden;
	visibility: visible;
	opacity: 1;
	transition: visibility 0.2s, opacity 0.2s;
}

.hover-container:hover .book-thumbnail {
	opacity: 0.3;
}

.hidden-content {
	position: absolute;
	padding: 20px;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.2s;
}

iframe {
	border: none;
	border-radius: 25px;
	width: 100%;
	height: 150px;
}

.hover-container:hover .hidden-content {
	visibility: visible;
	opacity: 1;
}