.grid {
	margin: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	gap: 20px;
	justify-content: center;
}

.grid li a {
	display: block;
	width: auto;
	height: auto;
	padding: 20px;
	padding: 20px;
	font-size: 20px;

	text-decoration: none;
	list-style-type: none;
	overflow: hidden;
	color: black;
	background-color: aquamarine;
	border: 2px solid black;
	border-radius: 10px;
}
