.grid {
	margin: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	gap: 50px;
	justify-content: center;
}

.grid li {
	display: flex;
}

.grid li a {
	width: 100%;
	height: 100%;
	padding: 20px;
	font-size: 20px;

	text-decoration: none;
	list-style-type: none;
	overflow: hidden;
	color: black;
	background-color: aquamarine;
	border: 2px solid black;
	border-radius: 10px;
}

.grid li a:hover {
	background-color: #0cdf9d;
	color: white;
}

.grid li a:hover #home::after {
	color: white;
}

#home::after {
	content: "\2302";
	color: black;
	float: right;
	font-size: 40px;
}